<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="../lib/bootstrap-validator/css/bootstrapValidator.min.css"> -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/admin.css">
</head>
<body>
  <div class="header">
    <div class="header_left">
      <ul>
        <li><a href="./workDesk.html">工作台</a> </li>
        <li ><a href="./deviceManage.html">设备管理</a></li>
        <li><a href="./videoLive.html">实时视频</a></li>
        <li><a href="./videoPlayBack.html">视频回放</a></li>
        <li ><a href="./gateWay.html">网关接入</a></li>
        <li class="active"><a href="./admin.html">用户管理</a></li>
      </ul>
    </div>
    <div class="header_right">
      <span class="user">admin</span>
      <span class="setDate"></span>
      <span class="fa fa-minus" title="最小化"></span>
      <span class="fa fa-window-maximize" title="最大化"></span>
      <span class="fa fa-times" title="退出"></span>
    </div>
  </div>
  <div class="main">
    <div class="operate">
      <div>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addUser">新增用户</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#addRole">新增角色</button>
      </div>
      <div>
        <input type="search" name="" id="" placeholder="请输入用户名"><i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
    <div class="user_list">
      <div class="container-fluid">
        <div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>权限</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <nav>
          <ul class="pagination">

          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- 新增用户模态框 -->
  <div class="modal fade bs-example-modal-sm" id="addUser" tabindex="-1">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">新增用户</h4>
        </div>
        <div class="modal-body">
          <form autocomplete="off">
            <div class="form-group">
              <label>用户名:</label>
              <input type="text" class="form-control" placeholder="请输入用户名">
            </div>
            <div class="form-group">
              <label>角色:</label>
              <select  class="form-control roles">
                <!-- <option value="0">IP/域名</option> -->
              </select>
            </div>
            <div class="form-group">
              <label>密码:</label>
              <input type="password" class="form-control" placeholder="请输入协议">
            </div>
            <div class="form-group">
              <label>密码确认:</label>
              <input type="password" class="form-control" placeholder="请输入备注">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">添加</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 新增角色模态框 -->
  <div class="modal fade bs-example-modal-sm" id="addRole" tabindex="-1">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">新增角色</h4>
        </div>
        <div class="modal-body">
          <form autocomplete="off" id="addRole">
            <div class="form-group">
              <label>角色名:</label>
              <input name="roleName" required type="text" class="form-control" placeholder="请输入角色名">
            </div>
            <div class="form-group rolesChoose">
              <label>菜单权限:</label>
              <div>
                <input type="checkbox" class="checkedAll">全选
              </div><br>
              <div>
                <input type="checkbox" name="role" class="checked" value='1'>设备管理
                <input type="checkbox" name="role" class="checked" value='2'>实时视频
                <input type="checkbox" name="role" class="checked" value='3'>视频回放
                <input type="checkbox" name="role" class="checked" value='4'>用户管理
              </div>
            </div>
            <div class="form-group">
              <label>备注:</label>
              <input type="text" required name="remark" class="form-control" placeholder="备注">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button form="addRole"  type="submit" class="btn btn-primary addRoleSub">添加</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 编辑用户模态框 -->
  <div class="modal fade bs-example-modal-sm" id="addUser" tabindex="-1">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">更新用户</h4>
        </div>
        <div class="modal-body">
          <form autocomplete="off">
            <div class="form-group">
              <label>用户名:</label>
              <input type="text" class="form-control" placeholder="请输入用户名">
            </div>
            <div class="form-group">
              <label>角色:</label>
              <select  class="form-control roles">
                <!-- <option value="0">IP/域名</option> -->
              </select>
            </div>
            <div class="form-group">
              <label>密码:</label>
              <input type="password" class="form-control" placeholder="请输入协议">
            </div>
            <div class="form-group">
              <label>密码确认:</label>
              <input type="password" class="form-control" placeholder="请输入备注">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">添加</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 获取用户列表 -->
  <script type="text/html" id="userList">
    {{each}}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <span data-id='{{$value.id}}' data-toggle="modal" data-target="#editUser">编辑</span>
          <span>删除</span>
        </td>
      </tr>
    {{/each}}
  </script>
  <!-- 获取角色列表 -->
  <script type="text/html" id="roleList">
    {{ each }}
    <option value=""></option>
    {{ /each }}
  </script>

  <script src="../lib/jquery1.10.2.js"></script>
  <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../lib/bootstrap-paginator/bootstrap-paginator.min.js"></script>
  <script src="../lib/template.js"></script>
  <script src="../js/admin.js"></script>
</body>
</html>