<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/workDesk.css">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <div class="header_left">
      <h3>基于LTE专用网络的视频传输</h3>
    </div>
    <div class="header_right">
      <span class="user">admin</span>
      <span class="setDate"></span>
      <span class="fa fa-minus" title="最小化"></span>
      <span class="fa fa-window-maximize" title="最大化"></span>
      <span class="fa fa-times" title="退出"></span>
    </div>
  </div>
  <div class="main">
    <ul>
      <li>
        <span>操作</span>
        <a href="./videoLive.html">
          <img src="../images/live.png" alt=""><br>
          <span>实时视频</span>
        </a>
        <a href="./videoPlayBack.html">
          <img src="../images/playback.png" alt=""><br>
          <span>视频回顾</span>
        </a>
      </li>
      <li>
        <span>管理</span>
        <a href="./deviceManage.html">
          <img src="../images/manage.png" alt=""><br>
          <span>视频管理</span>
        </a>
        <a href="./admin.html">
          <img src="../images/user.png" alt=""><br>
          <span>用户管理</span>
        </a>
        <a href="./gateWay.html">
          <img src="../images/port.png" alt=""><br>
          <span>网管接入</span>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>